:root {
  /* CSS HEX */
  --lavender-blush: #f6e8eaff;
  --bright-pink-crayola: #ef626cff;
  --violet-jtc: #4a2545ff;
  --black: #000001ff;
  --cambridge-blue: #90aa86ff;

  /* CSS HSL */
  --lavender-blush: hsla(351, 44%, 94%, 1);
  --bright-pink-crayola: hsla(356, 82%, 66%, 1);
  --violet-jtc: hsla(308, 33%, 22%, 1);
  --black: hsla(240, 100%, 0%, 1);
  --cambridge-blue: hsla(103, 17%, 60%, 1);

  --color-bg: var(--black);
  --color-bg-special: var(--violet-jtc);
  --color-text: var(--lavender-blush);
  --color-text-special: var(--cambridge-blue);
  --color-error: var(--bright-pink-crayola);

  --font-sans: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui,
    helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial,
    sans-serif;
  --font-serif: Iowan Old Style, Apple Garamond, Baskerville, Times New Roman,
    Droid Serif, Times, Source Serif Pro, serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol;
  --font-mono: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console,
    monospace;

  --text-size-xs: 0.64rem;
  --text-size-sm: 0.8rem;
  --text-size-md: 1rem;
  --text-size-lg: 1.25rem;
  --text-size-xl: 1.56rem;
  --text-size-2xl: 1.95rem;
  --text-size-3xl: 2.44rem;
  --text-size-4xl: 3.05rem;
  --text-size-5xl: 3.81rem;

  --space-s: 0.5rem;
  --space-m: 1rem;
  --space-l: 1.25rem;

  --container-width: 1200px;
  --sidebar-width: 300px;
}

html {
  font-family: var(--font-sans);
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  width: 100%;
  max-width: var(--container-width);
  margin: 0 auto;
  padding: 0;
  color: var(--color-text);
  background-color: var(--color-bg);
  font-size: var(--text-size-lg);
}

main {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  gap: var(--space-l);
  padding-bottom: var(--space-l);
  max-width: 100%;
  overflow-y: auto;
}

main:not(.root-container main) {
  padding: var(--space-m);
}

::selection {
  background-color: var(--color-text-special);
  color: var(--color-bg);
}

::-webkit-scrollbar {
  width: var(--space-s);
}

::-webkit-scrollbar-button {
  background-color: transparent;
  height: 0;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-bg-special);
}

::-webkit-scrollbar-track {
  background-color: var(--color-bg);
}

:focus {
  outline: 2px dashed var(--color, var(--color-text-special));
  outline-offset: 1px;
}

:where(h1, h2, h3, h4, h5, h6) {
  font-family: var(--font-sans);
  font-weight: bold;
}

h1 {
  margin-top: var(--space-m);
  padding-left: var(--space-m);
  font-size: var(--text-size-2xl);
}

h2 {
  font-size: var(--text-size-xl);
}

h3 {
  font-size: var(--text-size-lg);
}

:where(h4, h5, h6) {
  font-size: var(--text-size-md);
}

:where(a, a:hover, a:visited) {
  line-height: 1;
  color: var(--color-text-special);
}

:where(button, .button) {
  display: inline-flex;
  align-items: center;
  border-radius: 4px;
  padding: var(--space-s) var(--space-m);
  min-height: 44px;
  background-color: var(--color-text-special);
  color: var(--color-bg);
  text-align: center;
  text-decoration: none;
  letter-spacing: 0.05em;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

nav ul {
  display: flex;
  gap: var(--space-m);
  justify-content: center;
  margin: 0 auto;
  line-height: 1;
}

[data-sidebar] {
  display: none;
  margin-bottom: var(--space-l);
}

[data-gallery] {
  --column-size: 90px;

  display: grid;
  min-width: 0;
  max-width: 100%;
  grid-template-columns: repeat(3, minmax(var(--column-size), 1fr));
  grid-auto-rows: minmax(calc(var(--column-size) * 0.66667), auto);
  grid-auto-flow: dense;
  gap: var(--space-s);
}

[data-gallery] a {
  overflow: hidden;
}

:where([data-gallery], [data-collections]) img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

[data-gallery] [data-portrait] {
  grid-row-end: span 2;
}

[data-collections] {
  --gap: var(--space-s);

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
  gap: var(--gap);
}

[data-collections] > a {
  flex: 0 1 calc(50% - calc(var(--gap) * 0.5));
  aspect-ratio: 1;
}

[data-collections] article {
  --padding: var(--space-s);
  --radius: 4px;

  position: relative;
  border-radius: var(--radius);
  aspect-ratio: 1;
  overflow: hidden;
}

[data-collections] h2 {
  position: absolute;
  border-top-right-radius: var(--radius);
  border-top-left-radius: var(--radius);
  bottom: 0;
  left: 0;
  padding: var(--padding);
  width: 100%;
  background-color: var(--color-text-special);
  color: var(--color-bg);
  font-size: var(--text-size-md);
  line-height: 1.25;
}

.error {
  color: var(--color-bg);
  background-color: var(--color-error);
}

.error main {
  justify-content: center;
  font-size: var(--text-size-lg);
}

.error a {
  color: var(--color-bg-special);
}

.root-container {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  gap: var(--space-m);
  padding: var(--space-m) 0;
  overflow: hidden;
}

@media (min-width: 640px) {
  main {
    overflow-y: unset;
  }

  aside {
    position: sticky;
    top: var(--space-m);
  }

  h1 {
    font-size: var(--text-size-5xl);
  }

  h2 {
    font-size: var(--text-size-4xl);
  }

  h3 {
    font-size: var(--text-size-3xl);
  }

  h4 {
    font-size: var(--text-size-2xl);
  }

  h5 {
    font-size: var(--text-size-xl);
  }

  h6 {
    font-size: var(--text-size-lg);
  }

  [data-sidebar] {
    display: block;
  }

  [data-gallery] {
    --column-size: 160px;
  }

  [data-collections] article {
    --padding: var(--space-m);
  }

  [data-collections] > a {
    flex: 0 1 calc(25% - var(--gap) * 0.75);
  }

  [data-collections] h2 {
    font-size: var(--text-size-xl);
  }

  .root-container {
    flex-direction: row;
    align-items: flex-start;
    padding: var(--space-m);
    overflow: unset;
  }

  .root-container aside {
    width: var(--sidebar-width);
  }

  .error main {
    justify-content: flex-start;
  }
}
